@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.homePageWrapper {
  @include flex-horizontal-center;

  align-items: center;

  .homePage {
    @include flex-horizontal-center;

    flex-direction: column;
    width: 100%;
  }

  .cardsSection {
    background-color: #202027;

    .cardTeaserContainer {
      margin-bottom: 60px;
      background-color: #202027;
    }
  }

  .presentation {
    @include media.tablet-wide {
      width: 100%;
    }

    width: 38%;
    margin: auto;
    text-align: center;
    background-color: #202027;

    .title {
      @include media.mobile {
        margin: 40px 0 20px;
      }

      @include media.tablet-wide {
        margin: 32px 0 16px;
      }

      margin: 60px 0;
      font-size: 22px;
      font-weight: 600;
      color: theme.$branding-font-color;
    }

    .subtitle {
      @include media.tablet-wide {
        padding: 0 20px;
        font-size: 24px;
        line-height: 1.4;
        letter-spacing: 0;
      }

      font-size: 42px;
      font-weight: 800;
      line-height: 1.2;
      letter-spacing: 0;
    }

    .missionText {
      @include media.tablet-wide {
        padding: 0 20px;
        margin: 32px 0 40px;
        font-size: 16px;
        line-height: 1.45;
        color: rgb(221 221 221);
      }

      margin: 60px 0;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.85;
      color: rgb(221 221 221);
    }
  }
}
