@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.testimonialCarouselWrapper {
  @include media.tablet-wide {
    height: auto;
    padding: 60px 0 0;
  }

  @include media.mobile {
    height: auto;
    padding: 0;
  }

  width: 100%;
  min-width: 100px;
  height: fit-content;
  min-height: 100px;
  padding: 60px;
  background: theme.$secondary-background-color;

  .title {
    @include media.mobile {
      @include flex-all-center;

      margin: 46px 0 26px;
    }

    @include standard-page-title;

    width: 100%;
    color: #fff;
    text-align: center;
    user-select: none;
    -webkit-text-select: none;
  }

  .textAndImageContainerWrapper {
    @include media.mobile {
      margin: 0;
    }

    display: flex;
    margin: 60px 0 40px;
  }

  .textAndImageContainer {
    @include media.tablet-wide {
      width: 90%;
      margin: auto;
    }

    @include media.mobile {
      flex-direction: column;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    -webkit-text-select: none;
  }

  .image {
    @include media.tablet-wide {
      width: 100%;
      height: calc(0.5 * 100vw);
      border-radius: 8px;
    }

    @include media.mobile {
      width: 100%;
      height: calc(0.67 * 100vw);
      border-radius: 8px;
    }

    width: 460px;
    height: 420px;
    user-select: none;
    border-radius: 16px;
    -webkit-text-select: none;
  }

  .leftColumn {
    @include media.tablet-wide {
      width: 50%;
      margin-right: 40px;
    }

    @include media.mobile {
      order: 2;
      width: theme.$mobile-default-page-width;
      margin-right: 0;
    }

    @include flex-column-horizontal-center;

    width: 462px;
    height: fit-content;
    margin-right: 120px;
  }

  .rightColumn {
    @include media.mobile {
      order: 1;
      width: theme.$mobile-default-page-width;
      margin-right: 0;
      margin-bottom: 46px;
    }

    pointer-events: none;
  }

  .text {
    @include media.mobile {
      padding: 20px 0 0;
      margin-bottom: 20px;
    }

    @include standard-page-content;

    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 40px 0;
  }

  .testimonialPerson {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    color: theme.$branding-font-color;
    text-align: left;
  }

  .iconContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 42px;
    font-weight: 800;
    line-height: 1.2;
    color: #fff;
  }

  .customIcon {
    color: theme.$branding-font-color;
  }

  .itemsSelectorContainer {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    width: 100%;
  }

  .selector {
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-radius: 50%;

    &:hover {
      color: theme.$branding-font-color;
      background-color: theme.$branding-font-color;
    }
  }

  .transitionEffect {
    transition: transform 0.3s ease-in-out;
  }
}
